.apps {
    display: flex;
}

.apps button {
  background: transparent;
  border: none;
}

.apps .app {
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
    width: 50px;
    height: 50px;
    margin: 2px;
}
